html, body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

textarea {
    all: unset;
}

button {
    all: unset;
}

.header-case {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 1050px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    font-size: 12px;
    height: 100%;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo h1 {
    margin: 0 20px 0 20px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header-info h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the element has a height for vertical centering */
}

.header-info-separator {
    height: 65%;
    width: 1px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: #b8b8b8;
    z-index: 99;
}

.color-setting-button {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    padding: 6px 12px 6px 12px;
    text-align: center;
    width: 60px;
}

.setting-default-color {
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    padding: 6px 12px 6px 12px;
    text-align: center;
    width: 70px;

    color: #71B868;
    background-color: #F0FCEE;
    border: 2px solid #71B868;
}

.setting-reset-color {
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    padding: 6px 12px 6px 12px;
    text-align: center;
    width: 70px;

    color: #32B3A8;
    background-color: #EFFBFA;
    border: 2px solid #32B3A8;
}

.setting-pastel-color {
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    padding: 6px 12px 6px 12px;
    text-align: center;
    width: 70px;

    color: #D03468;
    background-color: #F7DEE6;
    border: 2px solid #D03468;
}

.header-below-info-case {
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #b8b8b8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
}

.header-below-info {
    width: 1050px;
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-case {
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.06);
}

.footer {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.generate-color-around {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.generate-color-around-circle {
    display: flex;
    padding: 8px;
    border-radius: 5px;
    background-color: #b8b8b8;
    border: 2px solid #b8b8b8;
    margin: 15px;
}

textarea.textBox {
    overflow: hidden;
    width: 125px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #b8b8b8;
    border-radius: 50px;
    resize: none;
}

#textBox.textBox {
    padding: 3px 0px 1px 0px;
    height: 25px;  /* Height of the textarea */
}

textarea.textBox::placeholder {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #888;
}


.popup-info.show {
    opacity: 1;
    transition: opacity 0.3s;
    position: fixed;
    z-index: 10;
}

.popup-info {
    display: flex;
    align-items: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;

    margin: 20px;
    height: 100%;
    background-color: #ffffff;
    right: 150px;
    width: calc(100% + 40px);
    transition: opacity 0.1s ease, visibility 0.1s ease;
}

.popup-info h2 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.generate-color-around-info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Optional: Styling for the image */
.generate-color-around-info img {
    width: 20px;
    cursor: pointer; /* Makes it clear that it's interactive */
}



.spacebar-info {
    height: 100%;
    display: flex;
    align-items: center;

}
.header-below-info h2 {
    margin: 0 20px 0 20px;
    font-size: 18px;
    font-weight: 400;
}

.content-case {
    min-height: 625px;
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.palette {
    width: 1000px;
    height: 520px;
    background-color: #EEEEEE;
    border-radius: 50px;
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.case {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 10px;
}
.color {
    border-radius: 150px;
    width: 170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
    align-items: center;
    position: relative;
}

.color button {
    font-weight: 400;
    text-transform: uppercase;
}

.palette-color-content {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: end;
    margin-bottom: 72px;
}

.lock-button, .undo, .copy-button, .adjust-brightness {
    opacity: 0;
    visibility: hidden;
}

.palette-color-content:hover .lock-button,
.palette-color-content:hover .undo,
.palette-color-content:hover .copy-button,
.palette-color-content:hover .adjust-brightness{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.adjust-brightness {
    position: relative;  /* Relative positioning allows absolute children to position correctly */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    z-index: 1000;
}

.brightness-bar {
    overflow: hidden;

    display: flex;
    flex-direction: column;  /* Align shades horizontally */
    width: 130px;         /* Width of the brightness bar */
    height: 380px;
    border-radius: 200px;     /* Height of the brightness bar */
    position: absolute;   /* Use relative positioning to stay within the parent */
    visibility: hidden;   /* Initially hidden */
    justify-content: space-between;  /* Align the shades with space between them */
}

.brightness-bar.show {
    visibility: visible;  /* Show the brightness bar */
}

.brightness-bar .shade {
    width: 100%;           /* Make each shade take up the full width */
    height: 100%;          /* Full height of the brightness bar */
    cursor: pointer;
}

.palette-color-content .color-code{
    opacity: 1 ;
}

.adjust-brightness {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
}

.brightness-minus, .brightness-plus {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.adjust-brightness:hover .brightness-minus,
.adjust-brightness:hover .brightness-plus {
    opacity: 1;
}
.undo img, .lock-button img, .copy-button img, .adjust-brightness img{
    width: 25px;
}

.lock-button {
    font-size: 25px;
}

.copy-button img.white, .lock-button img.white, .undo img.white, .brightness-plus.white, .brightness-minus.white, .brightness-hover.white{
    filter: invert(1);
}

textarea.color-code {
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    width: 115px;
    height: 28px;
    font-size: 28px;
    font-weight: 450;
    padding: 10px 10px 15px 10px;
    border-radius: 50px;
    transition: ease 0.2s;
}

.color-code:hover {
    transition: ease 0.2s;
    background-color: rgba(0, 0, 0, 0.10);
}
.copy-toast {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px;
    background-color: black;
    z-index: 9999;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.copy-toast::before {
    display: flex;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ADFF33;
    margin-right: 10px;
}

.copy-toast.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.palette-1 {
    background-color: #FF5C5C;
}

.palette-2 {
    background-color: #FFBE5C;
}

.palette-3 {
    background-color: #FFFF99;
}

.palette-4 {
    background-color: #D4EB8F;
}

.palette-5 {
    background-color: #A8D685;
}

.generate {
    display: none;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.generate button {
    font-size: 25px;
    font-weight: 500;
    border-radius: 50px;
    padding: 6px 12px 6px 12px;
    text-align: center;
    width: 90%;

    color: #32B3A8;
    background-color: #EFFBFA;
    border: 2px solid #32B3A8;
}


@media only screen and (max-width: 768px) and (orientation: portrait) {

    .case {
        width: 100%;
        height: 100%;
        margin: 10px 10px 10px 10px;
    }

    .content-case {
        height: calc(100% - 120px);
    }
    .palette {
        background-color: unset;
        margin: 0;
        height: calc(100% - 50px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: unset;
    }

    .header-info h2 {
        visibility: hidden;
    }

    .header-below-info {
        display: none;
    }

    .color {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .palette-color-content {
        opacity: 1;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .adjust-brightness {
        flex-direction: column;
    }

    .color img{
        width: 20px;
    }
    .color button {
        font-size: 25px;
    }

    .generate {
        display: flex;
        margin: 0px 20px 0px 20px;
    }
    .lock-button, .undo, .copy-button, .brightness-hover, .adjust-brightness {
        opacity: 1;
        visibility: visible;
    }

    .adjust-brightness {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
    }

    .brightness-bar {
        display: flex;           /* Aligns the shades in a row horizontally */
        flex-direction: row;     /* Ensures the shades are arranged horizontally */
        width: 250px;            /* Sets the width of the brightness bar */
        height: 60px;            /* Sets the height of the brightness bar */
        position: absolute;      /* Makes the .brightness-bar position relative to .adjust-brightness */
        left: calc(100% + 10px);              /* Position it immediately to the right of the image */
        top: 50%;                /* Moves the brightness bar to the middle of the container */
        transform: translateY(-50%); /* Offsets the bar by half of its height, centering it vertically */
        visibility: hidden;      /* Initially hide the brightness bar */
    }


    .generate-color-around-info-popup {
        visibility: hidden;
    }
    textarea.color-code {
        overflow: hidden;
        text-transform: uppercase;
        text-align: center;
        width: 100px;
        height: 25px;
        font-size: 25px;
        font-weight: 450;
        padding: 10px 10px 12px 10px;
        border-radius: 50px;
        transition: ease 0.2s;
    }
    .header-below-info-case {
        display: none;
    }
    .color {
        width: unset;
    }
    .header-case {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .palette {
        background-color: unset;
        margin: 0px;
        display: flex;
        width: 100%;
        height: 90%;
        box-shadow: unset;
    }
    .content-case {
        height: calc(100% - 120px);
    }
    .case {
        background-color: unset;
        height: unset;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px 20px 10px 20px;
    }
    .header-below-info {
        display: none;
    }
    .generate {
        display: flex;
        margin: 0px 20px 0px 20px;
    }
    .palette-color-content {
        opacity: 1;
    }
    .color img{
        width: 20px;
    }
    .color button {
        font-size: 25px;
    }
    .palette-color-content {
        align-items: center;
        justify-content: center;
        margin: 0;
        opacity: 1;
        visibility: visible !important;
    }
    .lock-button, .undo, .copy-button, .brightness-hover, .adjust-brightness{
        opacity: 1;
        visibility: visible;
    }
    .generate-color-around-info-popup {
        visibility: hidden;
    }
    .header-below-info-case {
        display: none;
    }

    .color {
        width: 100%;
    }
    .header-case {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
    }
}